<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>CineMatch - Curtidos</title>
  <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<header th:if="${session.usuarioLogado != null}">
    <h1>CineMatch</h1>
    <nav>
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <a href="/pesquisa"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="/chat"><i class="fa-solid fa-comment"></i></a>
        <a href="/curtidos"><i class="fa-solid fa-heart"></i></a>
        <a href="/perfil"><i class="fa-solid fa-user"></i></a>
        <a href="/logout" title="Sair"><i class="fa-solid fa-right-from-bracket"></i></a>
    </nav>
</header>

<header th:if="${session.usuarioLogado == null}">
    <h1>CineMatch</h1>
    <nav>
        <a href="/login" class="btn-login">Entrar</a>
        <a href="/registrar" class="btn-cadastrar">Cadastrar</a>
    </nav>
</header>

  <section>
    <h2>Filmes que você curtiu ❤️</h2>
    <div id="lista-curtidos"></div>
  </section>

  <script src="app.js"></script>
</body>
</html>
