<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>CineMatch - Curtidos</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header class="navbar">
    <h1 class="logo">CineMatch</h1>
    <nav>
      <a href="pesquisa.html" class="nav-btn">🔎</a>
      <a href="chat.html" class="nav-btn">💬</a>
      <a href="curtidos.html" class="nav-btn">❤️</a>
      <a href="perfil.html" class="nav-btn">👤</a>
    </nav>
  </header>

  <section>
    <h2>Filmes que você curtiu ❤️</h2>
    <div id="lista-curtidos"></div>
  </section>

  <script src="app.js"></script>
</body>
</html>
